.form {

  // .form__inner

  &__inner {
    padding: 70px 110px;
    background-color: var(--White, #FFF);

    @media (max-width: $breakpoint992) {
      padding: 50px 30px;
    }

    @media (max-width: $breakpoint768) {
      padding: 50px 15px;
    }

    h3 {
      margin-bottom: 40px;
      text-align: center;
      font-family: var(--secondary-font);
      font-size: 85px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0.85px;
      color: var(--Dark, #302B27);

      i {
        font-style: italic;
      }


      @media (max-width: $breakpoint992) {
        margin-bottom: 34px;
        font-size: 35px;
        letter-spacing: 0.35px;
      }
    }
  }

  // .form__main

  &__main {}

  // .form__groups

  &__groups {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__groups--tablet-column {
    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .form__group

  &__group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 20px;
    }
  }

  // .form__label

  &__label {
    margin-bottom: 15px;
    color: var(--Light, #AB8C6F);
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;

    @media (max-width: $breakpoint992) {
      font-size: 18px;
    }
  }

  // .form__input

  &__input {
    width: 100%;
    margin-bottom: 20px;
    outline: 0;

    font-variant-numeric: lining-nums proportional-nums;
    color: var(--Primary, #38332D);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &::placeholder {
      color: var(--Primary, #38332D);
      font-family: var(--secondary-font);
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      opacity: 0.3;

      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      -ms-line-clamp: 1;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      display: -webkit-box;
      display: box;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      box-orient: vertical;
    }

    @media (max-width: $breakpoint992) {
      margin-bottom: 15px;
      font-size: 18px;

      &::placeholder {
        font-size: 18px;
      }
    }
  }

  // .form__border

  &__border {
    width: 100%;
    height: 2px;
    background-color: var(--Light, #AB8C6F);
  }

  // .form__count

  &__count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;

    &.minimum {
      .form__count-minus {
        opacity: 0.3;
        user-select: none;
        pointer-events: none;
      }

      .form__count-sum {
        opacity: 0.3;
      }
    }
  }

  // .form__count-minus

  &__count-minus {
    background-color: transparent;
  }

  &__count-plus {
    background-color: transparent;
  }

  // .form__count-sum

  &__count-sum {
    outline: 0;
    width: 100%;
    color: var(--Primary, #38332D);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
  }

  // .form__textarea

  &__textarea {
    resize: none;
    height: 28px;
  }

  // .form__footer

  &__footer {
    display: flex;
    align-items: center;
    column-gap: 30px;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      row-gap: 20px;
      text-align: center;
      margin-top: 10px;
    }
  }

  // .form__btn

  &__btn {
    white-space: nowrap;

    @media (max-width: $breakpoint992) {
      width: 100%;
    }
  }

  // .form__political

  &__political {
    color: var(--Dark, #302B27);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 115%;

    a {
      color: var(--Light, #AB8C6F);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.form__group-added {
  display: flex;
  align-items: center;
  column-gap: 10px;
  background-color: transparent;

  img {
    width: 30px;
    height: 30px;
  }

  .form__label {
    margin: 0;
  }

  @media (max-width: $breakpoint992) {
    margin-bottom: 20px;
  }

}

.form__radioes {
  display: flex;
  align-items: center;
  column-gap: 30px;
  width: fit-content;
  margin-bottom: 40px;

  @media (max-width: $breakpoint992) {
    margin-bottom: 30px;
  }

  @media (max-width: $breakpoint768) {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }
}

.form__radio-group {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;


}

.form__radio-input {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -100;
  opacity: 0;

  &:disabled {
    &~.form__radio-label .form__radio-decor {
      background-color: rgba(48, 43, 39, 0.2);
      border-color: rgba(48, 43, 39, 0.2);
    }

    &~.form__radio-label .form__radio-text {
      color: rgba(56, 51, 45, 0.35);
    }
  }

  &:checked {
    &~.form__radio-label .form__radio-decor {
      border-width: 3px;
    }
  }
}

.form__radio-label {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;

  @media (max-width: $breakpoint768) {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}

.form__radio-decor {
  width: 20px;
  height: 20px;
  min-width: 20px;
  border: 1px solid var(--Light);
  background-color: transparent;
  border-radius: 100%;
}

.form__radio-text {
  font-family: var(--primary-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: var(--Dark, #302B27);
}

.form__radio-discont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 3px 5px;
  border-radius: 15px;
  background-color: var(--Light, #AB8C6F);

  color: #FFF;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: var(--primary-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.form__radio-text:hover~.form__radio-clue {
  opacity: 1;
}

.form__radio-clue {
  position: absolute;
  left: 100%;
  bottom: -16px;
  width: 342px;
  margin-left: 15px;
  border: 1px solid var(--Light, #AB8C6F);
  background-color: var(--Light, #AB8C6F);
  padding: 15px;
  color: var(--White, #FFF);
  font-family: var(--primary-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0;

  transition: opacity 0.2s linear;

  &::before {
    content: '';
    position: absolute;
    left: -15px;
    bottom: 20px;
    width: 15px;
    height: 18px;
    background-image: url('../img/icons/Polygon 1.svg');
    background-repeat: no-repeat;
  }

  @media (max-width: $breakpoint992) {
    opacity: 1;
    bottom: 120%;
    left: 40%;
  }

  @media (max-width: $breakpoint768) {
    position: relative;
    bottom: auto;
    left: auto;
    flex: 0 1 100%;
    margin-left: 0;
    margin-top: 15px;
    width: 100%;

    &::before {
      left: 15px;
      top: -15px;
      transform: rotate(90deg);
    }
  }
}


.form__input-select {
  font-family: var(--secondary-font);
  background-image: url('../img/icons/chevron-down-blue.png');
  background-repeat: no-repeat;
  background-position: 100% center;
  appearance: none;
  cursor: pointer;

  option {
    display: flex;
    padding: 10px;
    margin: 10px;
  }
}

.form__groups--tripl {
  grid-template-columns: repeat(3, 1fr) !important;
}