// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  background-color: #F3EFEC;
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  color: var(--White, #FFF);

  &.locked {
    overflow: hidden;
  }
}

body,
html {
  min-height: 100vh;
}

.main__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 20px 40px;

  background-color: var(--Light, #AB8C6F);
  border: 1px solid transparent;

  font-family: var(--primary-font);
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  color: var(--White, #FFF);

  transition: background-color 0.2s linear, border-color 0.2s linear;

  &:hover {
    background-color: transparent;
    border-color: var(--Light, #AB8C6F);
  }

  @media (max-width: $breakpoint992) {
    padding: 15px 30px;
    font-size: 16px;
  }
}

.secondary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 20px 40px;

  background-color: transparent;
  border: 1px solid var(--Light, #AB8C6F);

  font-family: var(--primary-font);
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  color: var(--White, #FFF);

  transition: background-color 0.2s linear, border-color 0.2s linear;

  &:hover {
    background-color: var(--Light, #AB8C6F);
    border-color: transparent;
  }

  @media (max-width: $breakpoint992) {
    padding: 15px 30px;
    font-size: 16px;
  }
}

.third-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 20px 40px;

  border: 1px solid var(--Dark, #302B27);
  background: var(--Dark, #302B27);

  font-family: var(--primary-font);
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  color: var(--White, #FFF);

  transition: background-color 0.2s linear, border-color 0.2s linear;

  &:hover {
    background-color: var(--Light, #AB8C6F);
    border-color: transparent;
  }

  @media (max-width: $breakpoint992) {
    padding: 15px 30px;
    font-size: 16px;
  }
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-bg video {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}