.menu-page {
  padding: 100px 0;
  background-color: var(--White);

  @media (max-width: $breakpoint992) {
    padding: 50px 0;
  }

  // .menu-page__inner

  &__inner {
    color: var(--Dark, #302B27);

    h2 {
      margin-bottom: 50px;
      text-align: center;
      font-family: var(--secondary-font);
      font-size: 85px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0.85px;

      i {
        font-style: italic;
      }


      @media (max-width: $breakpoint992) {
        margin-bottom: 20px;
        font-size: 35px;
        letter-spacing: normal;

        br {
          display: none;
        }
      }

      @media (max-width: $breakpoint768) {
        font-size: 28px;
      }

    }
  }

  // .menu-page__menu

  &__menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 16px;

    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(2, 1fr);
    }

    a {
      display: grid;
      row-gap: 30px;

      &:hover {
        h3 {
          color: var(--Light, #AB8C6F);
        }
      }


      img {
        max-width: 100%;
        width: 100%;
        height: 315px;
        object-fit: cover;

        @media (max-width: $breakpoint480) {
          height: 140px;
        }
      }

      h3 {
        display: flex;
        align-items: center;
        column-gap: 10px;
        width: fit-content;
        color: var(--Dark, #302B27);
        font-family: var(--secondary-font);
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;

        transition: color 0.2s linear;

        img {
          width: 24px;
          height: 24px;
        }

        @media (max-width: $breakpoint768) {
          font-size: 16px;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

  }
}