// ************************ Модальное окно ************************ //
.modals-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  padding: 50px 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal.show {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: 1;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }

}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  position: relative;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.modal.show .modal-content {
  opacity: 1;
  transform: translateY(0);
}

.close-modal-btn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 32px;
  font-weight: 400;
  color: var(--Primary);
  cursor: pointer;
}

.modal-book {

  .modal-content {
    max-width: 1300px;
    width: 96%;
    padding: 0;
  }

  .close-modal-btn {
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: #8ABED1;

    @media (max-width: $breakpoint992) {
      top: 15px;
      right: 15px;
    }
  }

  .form__label {
    color: #8ABED1;
  }

  .form__border {
    background-color: #8ABED1;
  }

  .form__input {
    color: #000;

    &::placeholder {
      color: #000;
    }
  }

  .form__btn {
    background-color: #8ABED1;
    border-color: #8ABED1;

    &:hover {
      background-color: var(--Light);
    }
  }

  .form__political a {
    color: #8ABED1;
  }
}

.book-table {

  .modal-content {
    max-width: 1300px;
    width: 96%;
    padding: 0;
  }

  .close-modal-btn {
    color: var(--Light);
  }

  .menu-page__menu {
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);

      a>img {
        height: 315px;
      }
    }
  }

  .menu-page__menu a h3 {
    @media (max-width: $breakpoint992) {
      font-size: 24px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 32px;
    }
  }

  .form__groups {
    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.advertising-window {
  color: var(--Dark, #302B27);
}

.advertising-window__inner {
  display: flex;

  @media (max-width: $breakpoint768) {
    flex-direction: column;
    padding-top: 50px;
  }

}

.advertising-window__picture {
  img {
    width: 425px;
    height: 425px;
    object-fit: cover;
  }

  @media (max-width: $breakpoint992) {
    img {
      width: 330px;
      height: 330px;
    }
  }

  @media (max-width: $breakpoint768) {
    img {
      max-width: 100%;
      width: 100%;
    }
  }

}

.advertising-window__info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 50px;

  @media (max-width: $breakpoint992) {
    padding: 50px 30px;
  }

  @media (max-width: $breakpoint768) {
    padding: 30px;
  }


  time {
    font-family: var(--primary-btn);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
  }

  h4 {
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;

    @media (max-width: $breakpoint992) {
      font-size: 28px;
    }
  }

  p {
    font-family: var(--primary-btn);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;

    @media (max-width: $breakpoint992) {
      font-size: 16px;
    }
  }

  a {
    margin-top: auto;

    &:hover {
      background-color: transparent;
      border-color: var(--Light);
      color: var(--Light);
    }

    @media (max-width: $breakpoint768) {
      margin-top: 30px;
    }

  }
}



.basket-window {
  justify-content: flex-end;
  // width: 100vw;
  min-width: 950px;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(48, 43, 39, 0.80) 0%, rgba(48, 43, 39, 0.80) 100%);

  @media (max-width: $breakpoint992) {
    justify-content: center;
    min-width: 100%;
  }

  .modal-content {
    margin-right: 0;
    width: 50vw;
    min-width: 950px;
    max-width: 100%;
    min-height: 100vh;
    padding: 50px;
    background: #F3EFEC;

    @media (max-width: $breakpoint992) {
      min-width: 100vw;
      width: 100vw;
    }

    @media (max-width: $breakpoint768) {
      padding: 40px 15px;
    }
  }

  .close-modal-btn {
    top: 64px;
    right: 50px;
    color: var(--Light);

    @media (max-width: $breakpoint1450) {
      top: 48px;
    }

    @media (max-width: $breakpoint992) {}

    @media (max-width: $breakpoint768) {
      display: flex;
      justify-content: center;
      align-items: center;
      top: 15px;
      right: 15px;
      font-size: 40px;
      width: 24px;
      height: 24px;
    }
  }

}


.basket-window__inner {
  h3 {
    margin-bottom: 40px;
    font-family: var(--secondary-font);
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    color: var(--Dark, #302B27);

    i {
      font-style: italic;
    }

    @media (max-width: $breakpoint992) {
      margin-bottom: 30px;
      font-size: 48px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 24px;
      font-size: 32px;
    }
  }
}

.basket-window__attention {
  margin-bottom: 30px;
  padding: 40px 45px;
  border: 1px solid var(--Light, #AB8C6F);


  font-family: var(--primary-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--Dark, #302B27);

  a {
    color: var(--Light, #AB8C6F);
    text-decoration-line: underline;

    &:hover {
      text-decoration: none;
    }
  }

  @media (max-width: $breakpoint992) {
    margin-bottom: 30px;
  }

  @media (max-width: $breakpoint768) {
    margin-bottom: 20px;
    padding: 30px;
    font-size: 16px;
  }
}

.basket-window__link {
  &:hover {
    color: var(--Light);
  }

  @media (max-width: $breakpoint768) {
    width: 100%;
  }
}




.basket-window__form {
  width: 100%;
}

.basket-window__list {
  display: flex;
  flex-direction: column;

  margin: 0 -50px 40px;

  @media (max-width: $breakpoint768) {
    margin: 0 -15px 24px;
  }
}

.basket-window__item {
  display: grid;
  grid-template-columns: 170px 1fr;
  column-gap: 20px;
  padding: 25px 50px;

  &:nth-child(even) {
    background-color: var(--White);
  }

  @media (max-width: $breakpoint768) {
    grid-template-columns: 100px 1fr;
    padding: 20px 15px;
  }
}

.basket-window__item-picture {
  position: relative;

  img {
    width: 170px;
    height: 170px;
    object-fit: cover;
  }

  @media (max-width: $breakpoint768) {
    img {
      width: 100px;
      height: 100px;
    }
  }
}

.basket-window__item-info {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: space-between;

  @media (max-width: $breakpoint768) {
    row-gap: 0;
  }
}

.basket-window__item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 28px;
}

.basket-window__item-naming {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 374px;
  width: 100%;
}

.basket-window__item-title {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: var(--Dark, #302B27);

  i {
    font-style: italic;
  }

  @media (max-width: $breakpoint992) {
    font-size: 22px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 16px;
  }
}

.basket-window__item-descr {
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--Dark, #302B27);

  @media (max-width: $breakpoint768) {
    font-size: 12px;
  }
}

.basket-window__item-delete {
  display: flex;
  align-items: center;
  column-gap: 5px;
  background-color: transparent;
  color: var(--Dark, #302B27);
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:hover {
    color: var(--Light);

    svg path {
      stroke: var(--Light);
    }
  }

  @media (max-width: $breakpoint768) {
    font-size: 10px;
  }
}

.basket-window__item-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 28px;
}

.basket-window__item-price {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--Light, #AB8C6F);

  @media (max-width: $breakpoint768) {
    font-size: 12px;
  }
}

.basket-window__item-counts {
  width: 140px;

  @media (max-width: $breakpoint992) {
    .form__group {
      margin-bottom: 0;
    }
  }

  @media (max-width: $breakpoint768) {
    width: 80px;

    button {
      width: 16px;
      height: 16px;

      img {
        width: 16px;
        height: 16px;
      }
    }

    .form__count-sum {
      font-size: 18px;
    }
  }
}



.basket-window__item-label {
  position: absolute;
  top: 20px;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 5px 13px;
  background-color: var(--Light);

  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFF;

  @media (max-width: $breakpoint768) {
    top: 10px;
    padding: 3px 10px;
    font-size: 12px;
  }
}

.basket-window__form-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 32px;
  margin-bottom: 30px;
}

.basket-window__sums {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.basket-window__sum-label {
  color: var(--Light, #AB8C6F);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.basket-window__sum {
  font-variant-numeric: lining-nums tabular-nums;
  font-family: var(--primary-font);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: var(--Dark, #302B27);

  strike {
    color: var(--Dark, #302B27);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration-line: strikethrough;
    opacity: 0.5;
  }
}

.basket-window__btn {}

.successfully-completed {

  .modal-content {
    max-width: 620px;
    width: 96%;
    margin: auto;
    padding: 50px;

    .close-modal-btn {
      color: var(--Light);
    }

    @media (max-width: $breakpoint768) {
      padding: 50px 15px;
    }
  }
}



.close-modal-btn {}

.successfully-completed__inner {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  text-align: center;

  h5 {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.12px;
    color: var(--Dark, #302B27);
  }

  h4 {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: var(--Dark, #302B27);

    i {
      font-style: italic;
    }

    @media (max-width: $breakpoint992) {
      font-size: 28px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }
  }

  p {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    color: var(--Dark, #302B27);

    @media (max-width: $breakpoint992) {
      font-size: 18px;
    }
  }

  .close-modal-btn.primary-btn {
    position: static;
    margin: 35px auto 0;

    color: var(--White, #FFF);
    font-family: var(--primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;

    &:hover {
      color: var(--Light);
    }

    @media (max-width: $breakpoint768) {
      margin-top: 15px;
    }
  }
}

.basket-window__back {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 50px;

  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: var(--Light, #AB8C6F);

  img {
    transition: transform 0.2s linear;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  @media (max-width: $breakpoint992) {
    margin-bottom: 40px;
  }

  @media (max-width: $breakpoint768) {
    margin-bottom: 30px;
  }

}

.basket-window__form {
  color: var(--Dark, #302B27);

  .form__input {
    background-color: transparent;
  }

  h4 {
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    i {
      font-style: italic;
    }

    @media (max-width: $breakpoint992) {
      font-size: 24px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 10px;
    }
  }
}

.basket-window__form-footer.form__groups--tablet-column {
  @media (max-width: $breakpoint768) {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    width: 100%;

    a,
    button {
      width: 100%;
    }
  }
}